@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body{
    background: url(/assets/images/mosque1.jpg) no-repeat fixed center center;
    background-size: cover;
    font-family: 'Cairo', Arial;
}
:root{
    --white-color:#f4fbff;;
    --brown-color:#5d250f;
    --orange-color:#a98e7c;
    --blue-color:#131337;
}
html{
    font-size: 16px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
    width: 100%;
}

.heading h1{
    font-size: 3.5rem;
    text-shadow: var(--brown-color) 1px 0 10px;
    color:var(--white-color)
    
}
.time{
    width: 550px;
}
.time ul{
    width:100%;
    list-style: none;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.time ul li{
    font-size: 1.5rem;
    color: var(--blue-color);
    padding: 0.1rem 0.4rem;
    background: #fff;
    width: 75px;
    margin-top: 15px;
    border-radius: 8%;
    text-align: center;
    font-weight: bolder;
    background-color: #ffffff73;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.time ul:not([class='date']) li{
    color: var(--blue-color);
}
.time .date li{
    color:var(--brown-color)
}
.message{
    text-align: center;
    color: var(--gold-color);
}
.message h1,.message h2{
    padding: 0;
    margin: 0;
}
@media (max-width: 767.98px) {
    html{
        font-size:13px;
    }

    .heading h1{
        font-size: 2.5rem;
    }
    .time{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }
    .time ul{
        flex-direction: column;
        width: fit-content;
    }
    .time ul:not([class="date"]) {
        padding-left: 0;
    }
    .time ul li{
        margin-bottom: 10px;
    }
}